<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>


      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyetWKt69Y7lzTFazGNlK7C1UGfqMRfPQ&libraries=places">//&callback=getRelevantGoogleReviews
      </script>
      <script src="/javascripts/script.js"></script>

  </head>
  <body>
  <div class="container">
    <header>
        <h1>Want to <span>Find nearby Hotels?</span>  you are in the right place
             <span class="glyphicon glyphicon-search"></span></h1>

        <div class="rect"></div>

    </header>
      <div class="page-body">
          <div class="search-container" >
              <form class="form-horizontal form-search" id="search_form" role="search">

                      <input type="text" class="form-control searchinput" id="searchbox" name="search" placeholder="Near :">

                        <button class="btn btn-default" id="submit_button" type="submit"><i class="glyphicon glyphicon-search"></i></button>


              </form>
          </div>

      </div>
  </div>
  <script type="text/javascript">
      window.getRelevantGoogleReviews = function() {
          var service = new google.maps.places.PlacesService($('#searchbox').get(0)); // note that it removes the content inside div with tag '#service-helper'
          var originInput = document.getElementById('searchbox');
          var originAutocomplete = new google.maps.places.Autocomplete(
                  originInput);
          var place;
          originAutocomplete.addListener('place_changed',function(){

              place = originAutocomplete.getPlace();
              console.log("place change***"+JSON.stringify(place));

              var request = {
                  location: originAutocomplete.getPlace().geometry.location,
                  radius: '500',
                  types: ['restaurant']
              };

              service.nearbySearch(request, callbck);

              function callbck(results, status) {
                  console.log("Entered");
                  if (status === google.maps.places.PlacesServiceStatus.OK) {
                      console.log(results.size);
                      for (var i = 0; i < results.length; i++) {
                          console.log(results[i].name);
                      }
                  }
              }
          })


      }
  </script>

  </body>

</html>
